* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    padding: 3em;
}

.quiz-steps {
    margin: 20px;
}

.step {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 100%;
    display: block;
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 3px;
}

.header p {
    text-transform: uppercase;
    font-size: small;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.8;
}

.progress {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.product-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.product-left {
    padding-right: 20px;
    max-width: 180px;
    width: 100%;
}

.product-left img {
    width: 100%;
    height: auto;
    display: block;
}

.product-right {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
